configuration {
	width: 100;
	font: "mono 13";
	location: 2;
	yoffset: 0;
	kb-cancel: "Escape,Control+g,Control+bracketleft,Super_L+d,Control+quotedbl,XF86Launch2,XF86Launch9,Super_L+XF86MonBrightnessDown,Alt_L+Escape,XF86Calculator,XF86WakeUp";
}
@theme "~/.config/rofi/themes/flat-nord_bind.rasi"
