@theme "flat-gruvbox.rasi"

* {
  border-color: @bg;
}

window {
  width: 100%;
}

mainbox {
  children: [inputbar, message];
}

message {
  padding: 0px;
}

inputbar {
  enabled: false;
}

/* vim:set ts=2 sw=2 et: */
