[Desktop Entry]
Categories=Qt;KDE;AudioVideo;Player;Video;
Comment=A great MPlayer front-end
Exec=smplayer -sub
Icon=smplayer
Name=SMPlayer (Sub)
Type=Application

