[Desktop Entry]
Name=UXTerm
#GenericName=Terminal
Comment=xterm wrapper for Unicode environments
Exec=uxterm
Terminal=false
Type=Application
Encoding=UTF-8
Icon=xterm-color_48x48
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
StartupWMClass=UXTerm
Hidden=true
